.listausuarios
    max-height: 100%
    max-width: 90%
    display: flex
    flex-wrap: wrap
    flex-direction: row
    .usercard
        min-width: 25%
        max-width: 25%
        min-height: 20%
        max-height: 20%
        margin: 20px
        display: flex
        flex-direction: column
        flex-wrap: wrap
        .foto
            max-width: 25%
            min-height: 100%
            display: flex
            justify-content: center
            align-items: center
            img
                max-width: 50px
                border-radius: 100%
        .nick,.correo
            min-width: 75%
            min-height: 45%
            max-width: 75%
            max-height: 45%
            display: flex
            justify-content: center
            align-items: center
