.ping
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row
    flex-wrap: nowrap
    min-height: 100%
    max-width: 10%
    p
        font-weight: 700
        margin: 0px 15px
    .wait
        color: grey
    .on
        color: green
    .off
        color: red