.container
    overflow: hidden
    .aplicacion
        min-height: 90vh
        min-width: 100vw
        background-color: grey
    .pinglogin
        background-color: blue
        max-height: 8vh
        min-height: 8vh
        .col
            min-width: 50%