<div class="container" *ngIf="_r.url == '/'" >
  <div class="row aplicacion">
    <div class="col des">
      <app-desplegable></app-desplegable>
    </div>
    <div class="col acc">
      <app-registro *ngIf="_mc.menucambio == 'registro'"></app-registro>
      <app-login *ngIf="_mc.menucambio == 'login'"></app-login>
      <app-listausuarios *ngIf="_mc.menucambio == 'lista'"></app-listausuarios>
    </div>
  </div>
  <div class="row pinglogin">
    <app-ping></app-ping>
  </div>
</div>
<router-outlet></router-outlet>